page-new-customer {
    .img {
        width: 100%;
        text-align: center;
        text-align: -webkit-center;
    }
    .img img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 10px;
    }    
}
