<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="atrás"></ion-back-button>
        </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Inspección
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="dark" text-wrap>
  <ion-card>
    <ion-slides pager>
      <ion-slide *ngFor="let photo of photos, let i = index">
        <img [src]="photo">
        <ion-icon *ngIf="!photo.includes('no-disponible')" name="trash" class="del-photo" (click)="removePhoto(i)"></ion-icon>
      </ion-slide>
    </ion-slides>
    <ion-card-content style="color: whitesmoke">
      <p>
        <b>Cliente:</b> {{customer?.name}} ({{customer?.brand}})
        <br>
        <b>Locacion:</b> {{location?.data.name}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col size="6">
        <ion-button size="small" expand="block" color="secondary" fill="outline" (click)="review()">
          Pedido
          <ion-icon name="search" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="small" expand="block" color="secondary" fill="outline" (click)="goToMaterials()">
          Materiales
          <ion-icon name="construct" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Observaciones</ion-label>
          <ion-textarea [(ngModel)]="memo"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" fill="outline" (click)="takePhoto()">
          Tomar Foto
          <ion-icon name="camera" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" fill="outline" (click)="sendOrder()">
          Enviar
          <ion-icon name="send" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer color="dark">
  <ion-toolbar text-center>
    <span style="font-size: .8rem; margin-right: 10px;">
      Fast Fire - Redes contra incendios. &#169; {{us.getCurrentYear()}}
    </span>
  </ion-toolbar>
</ion-footer>